<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bai67.Properties.Settings.CSDLTestConnectionString"
            connectionString="Data Source=PAIDEPTRAI\SQLEXPRESS;Initial Catalog=CSDLTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>